/* Navbar */

body {
	margin: 0;
	padding: 0;
}

nav {
	margin-bottom: 5px;
	display: flex;
	background-color: gray;
	align-items: center;
	padding: 4px 0 4px 0;
}

nav #logo {
	margin-right: 15px;
}

nav ul {
	display: flex;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav li a {
	display: block;
	width: 100px;
	color: white;
	margin-bottom: 2px;
	margin-right: 5px;
	padding-left: 3px;
	border: 2px solid black;
	text-decoration: none;
}

nav li a:hover {
	background-color: #2d854e;
}

nav .search {
	display: flex;
}

/* User */

.usrs {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px;
}

.usr {
	display: inline-grid;
	grid-template-columns: 150px 300px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
}

.usr .usr_picture{
       grid-column: 1;
       grid-row: 2;
}

.usr .usr_picture img {
	width: 150px;
	height: 150px;
}

.usr .usr_title {
       grid-column: 1/3;
       grid-row: 1;
}

.usr .usr_title h1 {
	display: inline;
	font-size: 20pt;
}

.usr .usr_title .usr_name {
	font-size: 80%;
}

.usr ul {
	grid-column: 2;
	grid-row: 2;
}

.usr p {
	grid-column: 1/3;
	grid-row: 3;
	text-align: center;
	margin: 3px;
}

/* Tweet */

.tweets {
	display: grid;
	grid-gap: 5px;
}

.tweets_older {
	display: table;
	margin: 10px auto;
}

.tweets_older a {
	border: 2px solid gray;
	background-color: lightgray;
	padding: 5px;
}

.tweets_older a:link {
	color: black;
}

.replies {
	margin-left: 5px;
}

.tweet-prev .tweet{
	background-color: lightcyan;
}

.tweet-init {
	margin-left: 0;	
}

.tweet-sub {
	margin-left: 25px;
}

.tweet {
	display: inline-grid;
	position: relative;
	grid-template-columns: 48px 632px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
}

.tweets .tweet-origin .tweet {
	background-color: khaki;
}

.tweet .tweet_color_bar {
	padding: 2px;
}

.tweet .tweet_picture{
    grid-column: 1;
    grid-row: 2;
}

.tweet .tweet_picture img {
	width: 48px;
	height: 48px;
}

.tweet .tweet_rt {
	grid-column: 2;
	grid-row: 1;
}

.tweet .tweet_title {
    grid-column: 2;
    grid-row: 2;
}

.tweet .tweet_title h1 {
	font-size: 16pt;
	margin: 7px 0 7px 7px;
}

.tweet .tweet_title .tweet_name {
	font-size: 80%;
}

.tweet p {
	grid-column: 1/3;
	grid-row: 3;
	text-align: center;
	margin: 3px;
}

.tweet .tweet_media {
	grid-column: 1/3;
	grid-row: 4;
	margin: auto;
}

.tweet .tweet_info {
	grid-column : 1/3;
	grid-row:5;
}

.notsafe:before {
	position: absolute;
	content: 'nsfw';
	background: rgba(2,2,2,0.9);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	text-align: center;
	font-size: 30px;
	font-variant: small-caps;
	font-weight: bolder;
	color: aquamarine;
}

.notsafe:hover:before {
	background: rgba(0,0,0,0);
	content: '';
}


/* User Summary */

.usr_summary {
	text-align: center;
}

.usr_summary .usr {
	margin-bottom: 5px;
	text-align: initial;
}

.usr_summary .tweets {
	text-align: initial;
}
