<!DOCTYPE HTML>
<html lang="fr">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="application-name" content="tw-client-e">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<nav>	
			<span id="logo">&#x1f31d;</span>
			<ul>
				<li><a href="{{ url_for('timeline')}}">Timeline</a></li>
				<li><a href="{{ url_for('lists')}}">Lists</a></li>
				<li><a href="{{ url_for('logout')}}">Se deconnecter</a></li>
			</ul>
			<form class="search" action="{{ url_for('search') }}" method="GET">
				<input type="text" name="query" value="{{ search_query if search_query }}"/>
				<input type="submit" value="Recherche"/>
			</form>
		</nav>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		{% block body %}
		{% endblock body %}
	</body>
</html>
