{% from "tweet.html" import tweet with context %}
{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}

<div class="tweets replies">
{% for tw in prev %}
<div class="tweet-prev">
	{{ tweet(tw, control=False) }}
</div>
{% endfor %}
<div class="tweet-origin" id="origin">
	{{ tweet(tweet_initial, control=False) }}
</div>
{% for tw in tweets recursive %}
	{% if tw is sequence %}
		{%  if loop.depth > 2 %}
			<div class="tweet-sub">
				{{ loop(tw) }}
			</div>
		{% else %}
			<div class="tweet-init">
				{{ loop(tw) }}
			</div>
		{% endif %}
	{% else %}
			{{ tweet(tw, control=False) }}
	{% endif %}
{% endfor %}
</div>

{% endblock %}
