{% from "tweet.html" import tweet with context %}
{% macro tweet_list(tweets) -%}
{% if tweets %}
	<div class="tweets">
	{% for tw in tweets %}
		{{ tweet(tw, control=False) }}
	{% endfor %}
	</div>
	<div class="tweets_older">
		{% set params = dict(request.args) %}
		{% if not params['last_tweet'] == tweets[-1].id_str %}
			{% set _ = params.update({'last_tweet': tweets[-1].id_str}) %}
			<a href="{{ url_for(request.endpoint, **params) }}">Afficher la suite</a>
		{% endif %}
	</div>
{% else %}
<p class="tweets notweets">
	Pas de tweets à afficher
</p>
{% endif %}
{%- endmacro %}

{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
{{ tweet_list(tweets) }}
{% endblock %}
