{% macro tweet(content, control=False) -%}
{% if not content.retweeted_status %}
	{% set usr=content.user %}
	{% set id=content.id %}
{% else %}
	{% set usr=content.retweeted_status.user %}
	{% set id=content.retweeted_status.id %}
{% endif %}
<div class="tweet {% if content.possibly_sensitive %}notsafe{% endif %}">
	{% if content.retweeted_status %}
		<div class="tweet_rt">
			<a href="{{ url_for('user_summary', id=content.user.id)}}"><span>{{ content.user.screen_name | e }}</span></a> a retweeter
		</div>
	{% endif %}
	<div class="tweet_title">
		<h1>
			<a href="{{ url_for('user_summary', id=usr.id)}}"><span class="tweet_tn">{{ usr.name | e }}</span> - <span class="tweet_name">@{{ usr.screen_name | e }}</span></a>
	        	{% if usr.protected %}<span class="tweet_protected tweet_trinket">&#x1F512;</span>{% endif %}
	        	{% if usr.verified %}<span class="tweet_verified tweet_trinket">&#x2714;&#xFE0F;</span>{% endif %}
		</h1>
	</div>
	<div class="tweet_picture">
		<a href="https://twitter.com/{{ usr.screen_name | e }}"><img src="{{ usr.profile_image_url_https | e }}" /></a>
	</div>
	<p>
		{{ content.full_text }}
	</p>
	{% if content.media %}
	<div class="tweet_media">
		{% for media in content.media %}
			{% if media.type == "photo" %}
				<img src="{{ media.media_url_https }}" height="{{ media.sizes.small.h }}" width="{{ media.sizes.small.w }}" />
			{% endif %}
			{% if media.type == "animated_gif" %}
				<video autoplay loop poster="{{ media.media_url_https }}" height="{{ media.sizes.small.h }}" width="{{ media.sizes.small.w }}">
					{% for s in media.video_info.variants %}
						<source src="{{ s.url }}" type="{{ s.content_type }}" /> 
					{% endfor %}
				</video> 
			{% endif %}
			{% if media.type == "video" %}
				<video controls poster="{{ media.media_url_https }}" height="{{ media.sizes.small.h }}" width="{{ media.sizes.small.w }}">
					{% for s in media.video_info.variants %}
						<source src="{{ s.url }}" type="{{ s.content_type }}" /> 
					{% endfor %}
				</video> 
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	<div class="tweet_info">
		<a href="{{ url_for('tweet_info_response', id=id) }}">Réponses</a>
		<pre>{{ content }}</pre>
	</div>
</div>
{%- endmacro %}
